server:
  listen:
    - 0.0.0.0:5353
  compress: true

upstream:
  ## Available Values for Mode
  ## udp, tcp, dot, doh
  mode: dot
  timeout: 5
  keep_alive: 60
  buffer_size: 4096
  pool_size: 1024
  max_attempts: 3
  skip_tls_verify: true
  domain: family.cloudflare-dns.com
  addresses:
    - 1.1.1.3:853
    - 1.0.0.3:853
  doh:
    query_path: /dns-query
    idle:
      max_conn: 100
      per_host: 20

cache:
  size: 10000
  shards: 256
  min_ttl: 60
  neg_ttl: 1

edns:
  enable: false
  ipv4_mask: 24
  ipv6_mask: 56

local:
  enable: true
  use_hosts_file: false
  ## Can use include_files for more managed configuration
  # include_files:
  #   - conf.d/local-*.yaml
  static_records:
    - domain: example.com
      ip: 127.0.0.1

forwarder:
  enable: false
  ## Can use include_files for more managed configuration
  # include_files:
  #   - conf.d/forwarder-*.yaml
  rules:
    - domain: example.com
      upstreams:
        - 127.0.0.1:53
